<div class="row">
  <div class="col-md-12">
    <form class="form-vertical">
       <div class="form-group">
          <label class="col-md-4 control-label" for="gasto_concepto">Concepto</label>
          <div class="col-md-8">
          <input id="gasto_concepto" type="text" class="form-control input-md" value="">
       </div>
       <div class="form-group">
          <label class="col-md-4 control-label" for="gasto_aplica">Aplica</label>
          <div class="col-md-8">
            <select id="gasto_aplica" type="text" class="form-control input-md">
            <option value="1">Inquilino</option>
            <option value="2">Propietario</option>
            </select>
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-4 control-label" for="gasto_cuota">Cuotas</label>
          <div class="col-md-8">
          <input id="gasto_cuota"  type="text" class="form-control input-md" value="">
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-4 control-label" for="gasto_importe">Importe</label>
          <div class="col-md-8">
          <input id="gasto_importe" type="text" class="form-control input-md" value="">
          </div>
      </div>
      {{!-- </div> --}}
    </form>
  </div>
</div>'