<div class="row">
  <div class="col-md-12">
    <form class="form-vertical">
          <div class="form-group">
            <label class="col-md-4 control-label" for="valor_fecha_inicio">Desde</label>
            <div class="col-md-8 input-group date date-picker">
            <input id="valor_fecha_inicio" type="text" class="form-control input-md date-input" value="">
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-4 control-label" for="valor_meses">Meses</label>
            <div class="col-md-8 input-group">
            <input id="valor_meses" type="text" class="form-control input-md " value="">
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-4 control-label" for="valor_fecha_fin">Hasta</label>
            <div class="col-md-8 input-group date date-picker">
            <input id="valor_fecha_fin" type="text" class="form-control input-md date-input" value="">
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
         </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="valor_importe">Importe</label>
            <div class="col-md-8 input-group">
            <input id="valor_importe" type="text" class="form-control input-md" value="">
            </div>
            </div>
        </div>
          {{!-- </div> --}}
      </form>
  </div>
</div>'