<div class="row">
  <div class="col-md-12">
    <form class="form-vertical">
       <div class="form-group">
            <label class="col-md-4 control-label" for="fecha">Desde</label>
            <div class="col-md-8 input-group date date-picker">
            <input id="fecha" type="text" class="form-control input-md date-input" value="{{convertirFecha fecha}}">
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
         </div>
       <div class="form-group">
          <label class="col-md-4 control-label" for="concepto">Concepto</label>
          <div class="col-md-8">
          <input id="concepto" name="concepto" type="text" class="form-control input-md" value="">
       </div>


      <div class="form-group">
          <label class="col-md-4 control-label" for="monto">Importe</label>
          <div class="col-md-8">
          <input id="monto" type="text" class="form-control input-md" value="">
          </div>
      </div>
      <div class="form-group">
          <label class="col-md-4 control-label" for="id_tipo">Tipo</label>
          <div class="col-md-8">

            <input type="radio" name="id_tipo" value="1">Ingreso
            <input type="radio" name="id_tipo" value="2">Egreso

          </div>
      </div>
    </form>
  </div>
</div>'