<div class="row">
  <div class="col-md-12">
    <form class="form-vertical">
          <div class="form-group">
            <label class="col-md-4 control-label" for="fecha_caja">Fecha</label>
            <div class="col-md-8 input-group date date-picker">
            <input id="fecha_caja" type="text" class="form-control input-md date-input" value="{{convertirFecha fecha}}" disabled>
            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-4 control-label" for="efectivo_anterior">Saldo actual</label>
            <div class="col-md-8 input-group">
            <input id="efectivo_anterior" type="text" class="form-control input-md " value="">
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-4 control-label" for="cheque_anterior">Saldo Cheques actual</label>
            <div class="col-md-8 input-group">
            <input id="cheque_anterior" name="cheque_anterior" type="text" class="form-control input-md " value="">
            </div>
         </div>
         {{!-- <div class="form-group">
            <label class="col-md-4 control-label" for="transferencia_anterior">Transferencia actual</label>
            <div class="col-md-8 input-group">
            <input id="transferencia_anterior" name="transferencia_anterior" type="text" class="form-control input-md " value="">
            </div>
         </div> --}}
      </form>
  </div>
</div>