<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>Filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationEdit</filter-name>
        <filter-class>Filters.AuthorizationEdit</filter-class>
    </filter>
    <filter>
        <filter-name>DeleteFilter</filter-name>
        <filter-class>Filters.DeleteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/Auditoria</url-pattern>
        <url-pattern>/Barrio</url-pattern>
        <url-pattern>/BarrioEdit</url-pattern>
        <url-pattern>/Cliente</url-pattern>
        <url-pattern>/ClienteEdit</url-pattern>
        <url-pattern>/Contrato</url-pattern>
        <url-pattern>/ContratoEdit</url-pattern>
        <url-pattern>/ContratoView</url-pattern>
        <url-pattern>/Cuenta</url-pattern>
        <url-pattern>/CuentaEdit</url-pattern>
        <url-pattern>/Localidad</url-pattern>
        <url-pattern>/LocalidadEdit</url-pattern>
        <url-pattern>/Popiedad</url-pattern>
        <url-pattern>/PopiedadEdit</url-pattern>
        <url-pattern>/Servicio</url-pattern>
        <url-pattern>/ServicioEdit</url-pattern>
        <url-pattern>/Usuario</url-pattern>
        <url-pattern>/UsuarioEdit</url-pattern>
        <url-pattern>/Vendedor</url-pattern>
        <url-pattern>/VendedorEdit</url-pattern>
        <url-pattern>/Caja</url-pattern>
        <url-pattern>/CajaEdit</url-pattern>
        <url-pattern>/CuentaInterna</url-pattern>
        <url-pattern>/CuentaInternaEdit</url-pattern>
        <url-pattern>/Recibo</url-pattern>
        <url-pattern>/ReciboAnular</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ClientePath</servlet-name>
        <servlet-class>Cliente.ClientePath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteList</servlet-name>
        <servlet-class>Cliente.ClienteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteEdit</servlet-name>
        <servlet-class>Cliente.ClienteEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteDel</servlet-name>
        <servlet-class>Cliente.ClienteDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropiedadPath</servlet-name>
        <servlet-class>Propiedad.PropiedadPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropiedadList</servlet-name>
        <servlet-class>Propiedad.PropiedadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropiedadEdit</servlet-name>
        <servlet-class>Propiedad.PropiedadEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropiedadDel</servlet-name>
        <servlet-class>Propiedad.PropiedadDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoPath</servlet-name>
        <servlet-class>Contrato.ContratoPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoList</servlet-name>
        <servlet-class>Contrato.ContratoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoEdit</servlet-name>
        <servlet-class>Contrato.ContratoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoDel</servlet-name>
        <servlet-class>Contrato.ContratoDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Usuario.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Usuario.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Usuario.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioList</servlet-name>
        <servlet-class>Usuario.UsuarioList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEdit</servlet-name>
        <servlet-class>Usuario.UsuarioEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDel</servlet-name>
        <servlet-class>Usuario.UsuarioDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forbidden</servlet-name>
        <servlet-class>Usuario.Forbidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletList</servlet-name>
        <servlet-class>Servlets.ServletList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalidadList</servlet-name>
        <servlet-class>Localidad.LocalidadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarrioList</servlet-name>
        <servlet-class>Barrio.BarrioList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarrioEdit</servlet-name>
        <servlet-class>Barrio.BarrioEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarrioPath</servlet-name>
        <servlet-class>Barrio.BarrioPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarrioDel</servlet-name>
        <servlet-class>Barrio.BarrioDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalidadEdit</servlet-name>
        <servlet-class>Localidad.LocalidadEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalidadDel</servlet-name>
        <servlet-class>Localidad.LocalidadDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalidadPath</servlet-name>
        <servlet-class>Localidad.LocalidadPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioServlet</servlet-name>
        <servlet-class>Servicio.ServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioList</servlet-name>
        <servlet-class>Servicio.ServicioList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioEdit</servlet-name>
        <servlet-class>Servicio.ServicioEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioDel</servlet-name>
        <servlet-class>Servicio.ServicioDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropiedadSearch</servlet-name>
        <servlet-class>Propiedad.PropiedadSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteSearch</servlet-name>
        <servlet-class>Cliente.ClienteSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorServlet</servlet-name>
        <servlet-class>Vendedor.VendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorList</servlet-name>
        <servlet-class>Vendedor.VendedorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorEdit</servlet-name>
        <servlet-class>Vendedor.VendedorEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorDel</servlet-name>
        <servlet-class>Vendedor.VendedorDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropietarioPath</servlet-name>
        <servlet-class>Propietario.PropietarioPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditoriaServlet</servlet-name>
        <servlet-class>Auditoria.AuditoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditoriaList</servlet-name>
        <servlet-class>Auditoria.AuditoriaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroServlet</servlet-name>
        <servlet-class>Parametro.ParametroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroList</servlet-name>
        <servlet-class>Parametro.ParametroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroEdit</servlet-name>
        <servlet-class>Parametro.ParametroEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroDel</servlet-name>
        <servlet-class>Parametro.ParametroDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoView</servlet-name>
        <servlet-class>Contrato.ContratoView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaList</servlet-name>
        <servlet-class>Cuenta.CuentaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cuenta</servlet-name>
        <servlet-class>Cuenta.CuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaEdit</servlet-name>
        <servlet-class>Cuenta.CuentaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaDel</servlet-name>
        <servlet-class>Cuenta.CuentaDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaDetList</servlet-name>
        <servlet-class>CuentaDetalle.CuentaDetList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoSearch</servlet-name>
        <servlet-class>Contrato.ContratoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaSearch</servlet-name>
        <servlet-class>Cuenta.CuentaSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaDetEdit</servlet-name>
        <servlet-class>CuentaDetalle.CuentaDetEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoEdit</servlet-name>
        <servlet-class>Pago.PagoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciboPrint</servlet-name>
        <servlet-class>Recibo.ReciboPrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaPrint</servlet-name>
        <servlet-class>Cuenta.CuentaPrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaServlet</servlet-name>
        <servlet-class>Caja.CajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaList</servlet-name>
        <servlet-class>Caja.CajaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaDel</servlet-name>
        <servlet-class>Caja.CajaDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaEdit</servlet-name>
        <servlet-class>Caja.CajaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaDetalleList</servlet-name>
        <servlet-class>CajaDetalle.CajaDetalleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaDetalleEdit</servlet-name>
        <servlet-class>CajaDetalle.CajaDetalleEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaDetalleDel</servlet-name>
        <servlet-class>CajaDetalle.CajaDetalleDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaCierre</servlet-name>
        <servlet-class>Caja.CajaCierre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInterna</servlet-name>
        <servlet-class>CuentaInterna.CuentaInternaPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInternaList</servlet-name>
        <servlet-class>CuentaInterna.CuentaInternaList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInternaEdit</servlet-name>
        <servlet-class>CuentaInterna.CuentaInternaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInternaDel</servlet-name>
        <servlet-class>CuentaInterna.CuentaInternaDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInternaDetalleList</servlet-name>
        <servlet-class>CuentaInternaDetalle.CuentaInternaDetalleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInternaDetallePath</servlet-name>
        <servlet-class>CuentaInternaDetalle.CuentaInternaDetallePath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaInternaDetalleEdit</servlet-name>
        <servlet-class>CuentaInternaDetalle.CuentaInternaDetalleEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciboList</servlet-name>
        <servlet-class>Recibo.ReciboList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciboPath</servlet-name>
        <servlet-class>Recibo.ReciboPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoAdelantado</servlet-name>
        <servlet-class>Pago.PagoAdelantado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaDetalleCierre</servlet-name>
        <servlet-class>CajaDetalle.CajaDetalleCierre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratoReplicar</servlet-name>
        <servlet-class>Contrato.ContratoReplicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaReplicar</servlet-name>
        <servlet-class>Cuenta.CuentaReplicar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciboAnular</servlet-name>
        <servlet-class>Recibo.ReciboAnular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciboSearch</servlet-name>
        <servlet-class>Recibo.ReciboSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientePath</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteList</servlet-name>
        <url-pattern>/ClienteList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteEdit</servlet-name>
        <url-pattern>/ClienteEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteDel</servlet-name>
        <url-pattern>/ClienteDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropiedadPath</servlet-name>
        <url-pattern>/Propiedad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropiedadList</servlet-name>
        <url-pattern>/PropiedadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropiedadEdit</servlet-name>
        <url-pattern>/PropiedadEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropiedadDel</servlet-name>
        <url-pattern>/PropiedadDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoPath</servlet-name>
        <url-pattern>/Contrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoList</servlet-name>
        <url-pattern>/ContratoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoEdit</servlet-name>
        <url-pattern>/ContratoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoDel</servlet-name>
        <url-pattern>/ContratoDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioList</servlet-name>
        <url-pattern>/UsuarioList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEdit</servlet-name>
        <url-pattern>/UsuarioEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDel</servlet-name>
        <url-pattern>/UsuarioDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletList</servlet-name>
        <url-pattern>/ServletList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalidadList</servlet-name>
        <url-pattern>/LocalidadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarrioList</servlet-name>
        <url-pattern>/BarrioList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarrioEdit</servlet-name>
        <url-pattern>/BarrioEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarrioPath</servlet-name>
        <url-pattern>/Barrio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarrioDel</servlet-name>
        <url-pattern>/BarrioDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalidadEdit</servlet-name>
        <url-pattern>/LocalidadEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalidadDel</servlet-name>
        <url-pattern>/LocalidadDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalidadPath</servlet-name>
        <url-pattern>/Localidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioServlet</servlet-name>
        <url-pattern>/Servicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioList</servlet-name>
        <url-pattern>/ServicioList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioEdit</servlet-name>
        <url-pattern>/ServicioEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioDel</servlet-name>
        <url-pattern>/ServicioDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropiedadSearch</servlet-name>
        <url-pattern>/PropiedadSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteSearch</servlet-name>
        <url-pattern>/ClienteSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorServlet</servlet-name>
        <url-pattern>/Vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorList</servlet-name>
        <url-pattern>/VendedorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorEdit</servlet-name>
        <url-pattern>/VendedorEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorDel</servlet-name>
        <url-pattern>/VendedorDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropietarioPath</servlet-name>
        <url-pattern>/Propietario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditoriaServlet</servlet-name>
        <url-pattern>/Auditoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditoriaList</servlet-name>
        <url-pattern>/AuditoriaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroServlet</servlet-name>
        <url-pattern>/Parametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroList</servlet-name>
        <url-pattern>/ParametroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroEdit</servlet-name>
        <url-pattern>/ParametroEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroDel</servlet-name>
        <url-pattern>/ParametroDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoView</servlet-name>
        <url-pattern>/ContratoView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaList</servlet-name>
        <url-pattern>/CuentaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cuenta</servlet-name>
        <url-pattern>/Cuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaEdit</servlet-name>
        <url-pattern>/CuentaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaDel</servlet-name>
        <url-pattern>/CuentaDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaDetList</servlet-name>
        <url-pattern>/CuentaDetList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoSearch</servlet-name>
        <url-pattern>/ContratoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaSearch</servlet-name>
        <url-pattern>/CuentaSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaDetEdit</servlet-name>
        <url-pattern>/CuentaDetEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoEdit</servlet-name>
        <url-pattern>/PagoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciboPrint</servlet-name>
        <url-pattern>/ReciboPrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaPrint</servlet-name>
        <url-pattern>/CuentaPrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaServlet</servlet-name>
        <url-pattern>/Caja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaList</servlet-name>
        <url-pattern>/CajaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaDel</servlet-name>
        <url-pattern>/CajaDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaEdit</servlet-name>
        <url-pattern>/CajaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaDetalleList</servlet-name>
        <url-pattern>/CajaDetalleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaDetalleEdit</servlet-name>
        <url-pattern>/CajaDetalleEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaDetalleDel</servlet-name>
        <url-pattern>/CajaDetalleDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaCierre</servlet-name>
        <url-pattern>/CajaCierre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInterna</servlet-name>
        <url-pattern>/CuentaInterna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInternaList</servlet-name>
        <url-pattern>/CuentaInternaList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInternaEdit</servlet-name>
        <url-pattern>/CuentaInternaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInternaDel</servlet-name>
        <url-pattern>/CuentaInternaDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInternaDetalleList</servlet-name>
        <url-pattern>/CuentaInternaDetalleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInternaDetallePath</servlet-name>
        <url-pattern>/CuentaInternaDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaInternaDetalleEdit</servlet-name>
        <url-pattern>/CuentaInternaDetalleEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciboList</servlet-name>
        <url-pattern>/ReciboList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciboPath</servlet-name>
        <url-pattern>/Recibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoAdelantado</servlet-name>
        <url-pattern>/PagoAdelantado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaDetalleCierre</servlet-name>
        <url-pattern>/CajaDetalleCierre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratoReplicar</servlet-name>
        <url-pattern>/ContratoReplicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaReplicar</servlet-name>
        <url-pattern>/CuentaReplicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciboAnular</servlet-name>
        <url-pattern>/ReciboAnular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciboSearch</servlet-name>
        <url-pattern>/ReciboSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
